<div class="wrapper">
	<admin-sidebar></admin-sidebar>
	<div class="main-panel ps-theme-default ps-active-y" data-ps-id="d230faa5-5343-f81e-fbf7-5f8bea02025e">
		<admin-header></admin-header>
		<div class="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-12 col-md-12 col-lg-12 nav-multi-tabs">
						<ul class="tabs nav nav-tabs" role="tablist" style="width: 100%">
							<li role="presentation" class="active"><a aria-controls="user-info" role="tab" data-toggle="tab" href="#user-info" class="">User Info</a></li>
							<li role="presentation" class=""><a aria-controls="user-order" role="tab" data-toggle="tab" href="#user-order" class="">Orders</a></li>
							<li role="presentation" class=""><a aria-controls="user-referral" role="tab" data-toggle="tab" href="#user-referral" class="">Referral stats</a></li>
						</ul>
					</div>
					<div class="tab-content">
						<div class="col col-sm-12 col-md-12 col-lg-12 tab-pane active" role="tabpanel" id="user-info">
							<div class="card">
								<div class="card-content">
									<p [innerHTML]="this.userFormResponseText"></p>
									<form #model="ngForm" (ngSubmit)="editUser(model.value)" [formGroup]="userForm" id="form-register2" method="post" action="#" novalidate>
										<input name="id" type="hidden" formControlName="id" />
										<div class="card-body">
											<p [innerHTML]="this.userFormResponseText"></p>
											<div class="form-group">
												<label class="control-label">
													Username
													<span>*</span>
												</label>
												<input class="form-control" name="username" placeholder="Enter username" style="border-radius: 0px" type="text" formControlName="username" />
												<div class="text-danger" *ngIf="userForm.get('username').errors && (userForm.get('username').dirty || userForm.get('username').touched)">
													<p *ngIf="userForm.get('username').errors['required']">Username can not be empty</p>
													<p *ngIf="userForm.get('username').errors['minlength']">Username must be 8 characters long</p>
												</div>
											</div>
											<div class="form-group">
												<label class="control-label">
													E-mail
													<span>*</span>
												</label>
												<input class="form-control" name="email" placeholder="Email" style="border-radius: 0px" type="email" formControlName="email" />
												<div class="text-danger" *ngIf="userForm.get('email').errors && (userForm.get('email').dirty || userForm.get('email').touched)">
													<p *ngIf="userForm.get('email').errors['required']">Email can not be empty</p>
													<p *ngIf="userForm.get('email').errors['email']">Please enter valid email address</p>
												</div>
											</div>
											<div class="form-group">
												<label class="control-label">
													Password
													<span>*</span>
												</label>
												<input class="form-control" name="password" placeholder="Password" style="border-radius: 0px" type="password" formControlName="password" />
											</div>
										</div>
										<div class="card-footer text-center">
											<button class="btn btn-warning btn-block" type="submit">Update User</button>
										</div>
									</form>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
						<div class="col col-sm-12 col-md-12 col-lg-12 tab-pane" role="tabpanel" id="user-order">
							<div class="card">
								<div class="card-content">
									<div class="card-body box-body">
										<div id="example_wrapper" class="dataTables_wrapper">
											<div class="table-responsive">
												<table class="table">
													<thead>
														<tr>
															<th>S.No.</th>
															<th>Exchange</th>
															<th>Sent</th>
															<th>Received</th>
															<th>Date</th>
														</tr>
													</thead>
													<tbody>
														<tr *ngFor="let t of this.transactions; let i = index">
															<td>{{ i + 1 }}</td>
															<td>{{ t.exchange }}</td>
															<td>{{ t.send_quantity }}</td>
															<td>{{ t.receive_quantity }}</td>
															<td>{{ t.created_at | date: 'dd-MM-yyyy hh:mm aa' }}</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col col-sm-12 col-md-12 col-lg-12 tab-pane" role="tabpanel" id="user-referral">
							<div class="card">
								<div class="card-content">
									<div class="col-sm-12 col-md-12 col-lg-12">
										<div class="row">
											<div class="col-sm-12 col-md-6">
												<div class="card">
													<div class="card-content">
														<div class="card-header">
															<h4 class="card-title">Account Information</h4>
														</div>
														<div class="table-responsive card-body">
															<table class="display responsive-table table datatable-example dataTable">
																<tbody>
																	<tr>
																		<td><b>Account Status</b></td>
																		<td><span style="text-transform: capitalize">regular</span></td>
																	</tr>
																	<tr>
																		<td><b>Sponsor</b></td>
																		<td>
																			<span style="text-transform: capitalize">{{ this.referral != null ? this.referral : 'None' }}</span>
																		</td>
																	</tr>
																	<tr>
																		<td><b>Total downline</b></td>
																		<td>{{ this.totalTeamMembers }}</td>
																	</tr>
																</tbody>
															</table>
														</div>
														<div class="clearfix"></div>
													</div>
												</div>
											</div>
											<div class="col-sm-12 col-md-6 col-lg-6">
												<div class="card visitors-card">
													<div class="card-content">
														<div class="card-header">
															<h4 class="card-title">Summary Total</h4>
														</div>
														<div class="table-responsive card-body">
															<table class="display responsive-table table datatable-example dataTable">
																<tbody>
																	<tr>
																		<td><b>Downline Purchasing</b></td>
																		<td>{{ this.totalTeamPurchase }} EbbiCoin</td>
																	</tr>
																	<tr>
																		<td><b>Total Referral Earning</b></td>
																		<td>{{ this.totalTeamIncome }} EbbiCoin</td>
																	</tr>
																	<tr>
																		<td><b>Total Additional Bonus</b></td>
																		<td>0 EbbiCoin</td>
																	</tr>
																</tbody>
															</table>
														</div>
													</div>
												</div>
											</div>
											<div class="col-sm-12 col-md-12 col-lg-12 nav-multi-tabs">
												<ul class="tabs nav nav-tabs" role="tablist" style="width: 100%">
													<li role="presentation" class="col-xs-12 col-sm-3 col-md-3 col-lg-3 active"><a aria-controls="affiliate-panel" role="tab" data-toggle="tab" href="#affiliate-panel" class="">Affiliate</a></li>
													<li role="presentation" class="col-xs-12 col-sm-3 col-md-3 col-lg-3"><a aria-controls="level1-panel" role="tab" data-toggle="tab" href="#level1-panel" class="">Level 1</a></li>
													<li role="presentation" class="col-xs-12 col-sm-3 col-md-3 col-lg-3"><a aria-controls="level2-panel" role="tab" data-toggle="tab" href="#level2-panel" class="">Level 2</a></li>
													<li role="presentation" class="col-xs-12 col-sm-3 col-md-3 col-lg-3"><a aria-controls="level3-panel" role="tab" data-toggle="tab" href="#level3-panel" class="">Level 3</a></li>
												</ul>
											</div>
											<div class="tab-content">
												<div class="col col-sm-12 col-md-12 col-lg-12 tab-pane active" role="tabpanel" id="affiliate-panel">
													<div class="card">
														<div class="card-content">
															<div class="table-responsive dataTables_wrapper">
																<table class="display responsive-table table datatable-example dataTable">
																	<thead>
																		<tr>
																			<th>#</th>
																			<th>User</th>
																			<th>Referral Earned</th>
																			<th>Status</th>
																			<th>Time</th>
																		</tr>
																	</thead>
																	<tbody>
																		<tr *ngFor="let l of this.teamMembers; let i = index">
																			<td>{{ i + 1 }}</td>
																			<td>{{ l.username }}</td>
																			<td>{{ l.income }}</td>
																			<td>
																				<span *ngIf="l.status == 0" class="text-warning">Pending</span>
																				<span *ngIf="l.status == 1" class="text-success">Active</span>
																				<span *ngIf="l.status == 2" class="text-danger">Deactive</span>
																			</td>
																			<td>{{ l.created_at | date: 'dd-MMM-yyyy hh:mm a' }}</td>
																		</tr>
																	</tbody>
																</table>
															</div>
														</div>
													</div>
												</div>
												<div class="col col-sm-12 col-md-12 col-lg-12 tab-pane" role="tabpanel" id="level1-panel">
													<div class="card">
														<div class="card-content">
															<div class="table-responsive dataTables_wrapper">
																<table class="display responsive-table table datatable-example dataTable">
																	<thead>
																		<tr>
																			<th>#</th>
																			<th>User</th>
																			<th>Referral Earned</th>
																			<th>Status</th>
																			<th>Time</th>
																		</tr>
																	</thead>
																	<tbody>
																		<tr *ngFor="let l of this.level1; let i = index">
																			<td>{{ i + 1 }}</td>
																			<td>{{ l.username }}</td>
																			<td>{{ l.income }}</td>
																			<td>
																				<span *ngIf="l.status == 0" class="text-warning">Pending</span>
																				<span *ngIf="l.status == 1" class="text-success">Active</span>
																				<span *ngIf="l.status == 2" class="text-danger">Deactive</span>
																			</td>
																			<td>{{ l.created_at | date: 'dd-MMM-yyyy hh:mm a' }}</td>
																		</tr>
																	</tbody>
																</table>
															</div>
														</div>
													</div>
												</div>
												<div class="col col-sm-12 col-md-12 col-lg-12 tab-pane" role="tabpanel" id="level2-panel">
													<div class="card">
														<div class="card-content">
															<div class="table-responsive dataTables_wrapper">
																<table class="display responsive-table table datatable-example dataTable">
																	<thead>
																		<tr>
																			<th>#</th>
																			<th>User</th>
																			<th>Referral Earned</th>
																			<th>Status</th>
																			<th>Time</th>
																		</tr>
																	</thead>
																	<tbody>
																		<tr *ngFor="let l of this.level2; let i = index">
																			<td>{{ i + 1 }}</td>
																			<td>{{ l.username }}</td>
																			<td>{{ l.income }}</td>
																			<td>
																				<span *ngIf="l.status == 0" class="text-warning">Pending</span>
																				<span *ngIf="l.status == 1" class="text-success">Active</span>
																				<span *ngIf="l.status == 2" class="text-danger">Deactive</span>
																			</td>
																			<td>{{ l.created_at | date: 'dd-MMM-yyyy hh:mm a' }}</td>
																		</tr>
																	</tbody>
																</table>
															</div>
														</div>
													</div>
												</div>
												<div class="col col-sm-12 col-md-12 col-lg-12 tab-pane" role="tabpanel" id="level3-panel">
													<div class="card">
														<div class="card-content">
															<div class="table-responsive dataTables_wrapper">
																<table class="display responsive-table table datatable-example dataTable">
																	<thead>
																		<tr>
																			<th>#</th>
																			<th>User</th>
																			<th>Referral Earned</th>
																			<th>Status</th>
																			<th>Time</th>
																		</tr>
																	</thead>
																	<tbody>
																		<tr *ngFor="let l of this.level3; let i = index">
																			<td>{{ i + 1 }}</td>
																			<td>{{ l.username }}</td>
																			<td>{{ l.income }}</td>
																			<td>
																				<span *ngIf="l.status == 0" class="text-warning">Pending</span>
																				<span *ngIf="l.status == 1" class="text-success">Active</span>
																				<span *ngIf="l.status == 2" class="text-danger">Deactive</span>
																			</td>
																			<td>{{ l.created_at | date: 'dd-MMM-yyyy hh:mm a' }}</td>
																		</tr>
																	</tbody>
																</table>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="col col-sm-12 col-md-12 col-lg-12">
												<div class="card visitors-card primary-card">
													<div class="card-content">
														<span class="card-title">Detail Referral Earning</span>
														<div class="card-body box-body">
															<div id="example_wrapper" class="table-responsive dataTables_wrapper">
																<table class="display responsive-table table datatable-example dataTable">
																	<thead>
																		<tr>
																			<th>Downline</th>
																			<th>Referral Purchasing</th>
																			<th>%</th>
																			<th>Referral Earning</th>
																		</tr>
																	</thead>
																	<tbody *ngIf="this.referral_status">
																		<tr>
																			<td>Level 1</td>
																			<td>{{ this.referral_income.level1.amount }}</td>
																			<td>10%</td>
																			<td>{{ this.referral_income.level1.referral_income }}</td>
																		</tr>
																		<tr>
																			<td>Level 2</td>
																			<td>{{ this.referral_income.level2.amount }}</td>
																			<td>5%</td>
																			<td>{{ this.referral_income.level2.referral_income }}</td>
																		</tr>
																		<tr>
																			<td>Level 3</td>
																			<td>{{ this.referral_income.level3.amount }}</td>
																			<td>2%</td>
																			<td>{{ this.referral_income.level3.referral_income }}</td>
																		</tr>
																	</tbody>
																</table>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<admin-footer></admin-footer>
	</div>
</div>
