/* Write your custom CSS here */
/* muli-300 - latin */
@font-face {
	font-family: 'Muli';
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/muli-v11-latin-300.eot'); /* IE9 Compat Modes */
	src: local('Muli Light'), local('Muli-Light'), url('../fonts/muli-v11-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ /* url('../fonts/muli-v11-latin-300.woff2') format('woff2'), /* Super Modern Browsers */ /* url('../fonts/muli-v11-latin-300.woff') format('woff'), /* Modern Browsers */ /* url('../fonts/muli-v11-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/muli-v11-latin-300.svg#Muli') format('svg'); /* Legacy iOS */
}
/* muli-regular - latin */
@font-face {
	font-family: 'Muli';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/muli-v11-latin-regular.eot'); /* IE9 Compat Modes */
	src: local('Muli Regular'), local('Muli-Regular'), url('../fonts/muli-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ /* url('../fonts/muli-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */ /* url('../fonts/muli-v11-latin-regular.woff') format('woff'), /* Modern Browsers */ /* url('../fonts/muli-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/muli-v11-latin-regular.svg#Muli') format('svg'); /* Legacy iOS */
}
.btc-color {
	color: #f49233;
}
.bch-color {
	color: #f5922f;
}
.eth-color {
	color: #151515;
}
.no-padding {
	padding: 0 !important;
}
.no-margin {
	margin: 0 !important;
}
.margin-top-5 {
	margin-top: 5px;
}
.margin-bottom-5 {
	margin-bottom: 5px;
}
body.modal-open .main-panel {
	z-index: auto;
}
.sidebar:after,
.sidebar:before,
.sidebar[data-background-color='white']:after,
.sidebar[data-background-color='white']:before,
.off-canvas-sidebar:after,
.off-canvas-sidebar:before,
.off-canvas-sidebar[data-background-color='white']:after,
.off-canvas-sidebar[data-background-color='white']:before {
	background: linear-gradient(#000000, #000000de, #00000080), url(../img/side-bar-bg.jpg) no-repeat;
}
.sidebar a.simple-text,
.sidebar .nav li > a,
.sidebar .user .info > a > span {
	color: #fff !important;
}
.sidebar .sidebar-wrapper > .nav li > a,
.off-canvas-sidebar .sidebar-wrapper > .nav li > a {
	opacity: 1;
}
.sidebar[data-active-color='danger'] .nav li.active > a,
.off-canvas-sidebar[data-active-color='danger'] .nav li.active > a {
	color: #eb5e28 !important;
	opacity: 1;
}
.full-page.login-page:after {
	background: none;
}
ul.nav-mobile-menu li.nav-user-info,
ul.nav-mobile-menu li.nav-logout,
ul.nav-mobile-menu li.separator {
	display: none;
}
ul.nav-mobile-menu li a {
	text-align: left;
	padding: 0;
	padding-left: 70px !important;
	margin: 0 !important;
}
.navbar .navbar-nav > li > a p {
	font-size: 1.4rem;
	color: #333;
}
.navbar .navbar-nav > li > a p span {
	font-weight: 600;
}
.navbar .navbar-nav > li > a {
	font-size: 1.4rem;
}
.navbar-default {
	background-color: #fff;
}
.sidebar[data-active-color='danger'] .sidebar-wrapper > .nav li:hover > a {
	color: #eb5e28 !important;
}

#push-notification .modal-body {
	padding: 0;
	font-family: 'Overpass', sans-serif;
}
#push-notification.modal {
	margin-top: 2px;
	max-height: 100%;
}
#push-notification .modal-body p {
	color: #333;
	font-size: 16px;
	font-weight: 400;
	margin: 0 0 5px 0;
	line-height: 1.3;
}
#push-notification .modal-body p strong {
	font-weight: 700;
}

#push-notification .modal-body a {
	color: #34b1c4;
}

#push-notification .notification-bottom {
	text-align: center;
}

#push-notification .notification-bottom img {
	width: 60px;
}

#push-notification .notification-bottom a {
	margin: 5px;
}
.display-ib {
	display: block;
}
span.price-color {
	color: #34b1c4;
}
#push-notification .modal-header {
	border-bottom: 0;
	padding: 0;
}

#push-notification .modal-footer {
	border-top: 0;
}

.m-text-center {
	text-align: center;
}
.btn-copy-address {
	margin-left: -70px;
	margin-top: -2px;
}
span.wallet-address {
	background: #ccc;
	padding: 10px;
	padding-left: 20px;
	padding-right: 70px;
}
input#input-copy-jgn.input-copy-deposit,
input#input-copy-eth.input-copy-deposit,
input#input-copy.input-copy-deposit {
	display: inline-block;
	width: 330px;
	background: #e5e5e5;
	padding-left: 10px;
	border-bottom: none;
	margin-bottom: 0;
	box-shadow: none;
	color: rgba(0, 0, 0, 0.6);
}
input#input-copy-jgn.input-copy-alert,
input#input-copy-eth.input-copy-alert,
input#input-copy.input-copy-alert {
	background: #b3e5fc;
	color: #475c64 !important;
	padding-left: 0;
}
.countdown {
	text-transform: uppercase;
	margin-bottom: 20px;
	text-align: center;
}

.countdown > div {
	display: inline-block;
}

.countdown > div > span {
	display: block;
	text-align: center;
}

.countdown-container {
	margin: 0 3px;
}

.countdown-container .countdown-heading {
	font-size: 10px;
	margin: 0;
	color: #333;
	margin-bottom: 3px;
}
.countdown-container .countdown-value {
	font-size: 18px;
	font-family: 'Muli', Arial, sans-serif;
	font-weight: 300;
	background: #65615a;
	padding: 10px;
	color: #fff;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
	border-radius: 100%;
	letter-spacing: 1px;
}
.countdown-card.opening .countdown-container .countdown-value {
	background: #f3bb45;
	border-radius: 100%;
}
.countdown-card.opening .stats-card-progress .determinate {
	background: #f4bb44;
	height: 100%;
	border-bottom-left-radius: 2px;
	background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	-webkit-background-size: 40px 40px;
	background-size: 40px 40px;
	-webkit-animation: progress-bar-stripes 2s linear infinite;
	-o-animation: progress-bar-stripes 2s linear infinite;
	animation: progress-bar-stripes 2s linear infinite;
}
.text-muted.ico-notifications {
	color: #b2b2b2;
	font-size: 12px;
	padding-top: 20px;
	font-weight: 300;
	display: none;
}
.text-muted.ico-notifications.show {
	display: block;
}
.card-alert button {
	background: none;
	border: none;
	position: absolute;
	top: 15px;
	right: 10px;
	font-size: 20px;
}

.mn-inner img {
	max-width: 100%;
}

.footer-text {
	padding-left: 20px;
}

.page-footer .container .footer-grid-l {
	width: 100%;
}

#zcoin-sidebar {
	display: none;
}

.sidebar-profile {
	display: none;
	padding: 0px;
}

#btn-login,
#btn-register,
#btn-reset-pass,
#btn-account-verify {
}

.signin-page {
	background-position: center;
}

#card-login,
#card-register,
#card-forgot-pass,
#card-message,
#card-reset-pass,
#card-account-verify {
}

#card-login .card-title,
#card-register .card-title,
#card-forgot-pass .card-title,
#card-message .card-title,
#card-account-verify .card-title {
}

#card-login .col-middle img,
#card-forgot-pass .col-middle img,
#card-message .col-middle img,
#card-reset-pass .col-middle img,
#card-account-verify .col-middle img {
	width: 60%;
}

#card-login .col-middle,
#card-forgot-pass .col-middle,
#card-message .col-middle,
#card-reset-pass .col-middle,
#card-account-verify .col-middle {
	text-align: center;
}

#card-login input,
#card-register input,
#card-forgot-pass input,
#card-reset-pass input {
	color: #fff;
	padding-left: 5px;
}

#card-login input:focus,
#card-login input:focus:not,
#card-register input:focus,
#card-register input:focus:not,
#card-reset-pass input:focus,
#card-reset-pass input:focus:not {
	border-bottom: 1px solid #34b1c5;
	box-shadow: 0 1px 0 0 #34b1c5;
}

.btn-color {
	color: #34b1c5 !important;
}

.g-recaptcha-container {
	max-width: 300px;
	padding: 0 0.75rem;
	float: none;
	margin-right: auto;
	margin-left: auto;
}

.g-recaptcha {
	transform-origin: left top;
	-webkit-transform-origin: left top;
}
.g-recaptcha-container.large-size {
	margin-right: auto;
	margin-left: auto;
	float: none;
	clear: both;
}
#btn-register {
	margin-bottom: 10px;
}
input#input-copy-jgn.input-copy-deposit,
input#input-copy-eth.input-copy-deposit,
input#input-copy.input-copy-deposit {
	padding-right: 50px;
}
.sponsor-alert .button-copy {
	margin-left: 0;
}

div.blueTable {
	border: 1px solid #ebebeb;
	background-color: #ffffff;
	width: 100%;
	text-align: left;
	border-collapse: collapse;
}
.divTable.blueTable .divTableCell,
.divTable.blueTable .divTableHead {
	border: 1px solid #dbdbdb;
	padding: 3px 2px;
}
.divTable.blueTable .divTableBody .divTableCell {
	font-size: 13px;
	text-align: center;
}
.divTable.blueTable .divTableHeading {
	background: #34b1c4;
	background: -moz-linear-gradient(top, #67c4d3 0%, #48b8ca 66%, #34b1c4 100%);
	background: -webkit-linear-gradient(top, #67c4d3 0%, #48b8ca 66%, #34b1c4 100%);
	background: linear-gradient(to bottom, #67c4d3 0%, #48b8ca 66%, #34b1c4 100%);
	border-bottom: 2px solid #e6e6e6;
}
.divTable.blueTable .divTableHeading .divTableHead {
	font-size: 15px;
	font-weight: bold;
	color: #ffffff;
	text-align: center;
	border-left: 2px solid #ffffff;
}
.divTable.blueTable .divTableHeading .divTableHead:first-child {
	border-left: none;
}

/* DivTable.com */
.divTable {
	display: table;
}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	display: table-header-group;
}
.divTableCell,
.divTableHead {
	display: table-cell;
}
.divTableHeading {
	display: table-header-group;
}
.divTableFoot {
	display: table-footer-group;
}
.divTableBody {
	display: table-row-group;
}

.sponsor-alert .input-group-addon,
.sponsor-alert .input-group-btn {
	background-color: #f3bb45;
	color: #fff;
	border: none;
}

.sponsor-alert .input-group {
	border: none;
}

.sponsor-alert input.form-control {
	color: #5d5d5d;
	font-weight: 400;
}
a.btn.btn-copy.btn-copy-address.button-copy {
	background: none;
	box-shadow: none;
	margin: 0 !important;
	padding: 0 !important;
	height: auto;
	color: #fff;
	padding: 0 10px !important;
	line-height: 40px;
	border: none;
}

.sponsor-alert input#input-copy {
	border: none !important;
	box-shadow: none;
	box-sizing: border-box;
	padding-left: 10px;
}
.sponsor-alert .input-group-btn {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}
h3.opening-time {
	padding: 0 15px;
	text-transform: none;
	font-weight: 400;
	margin: 20px 0 0;
	font-size: 16px;
	line-height: 1.3;
}

h3.opening-time span {
	display: block;
}
.wallets .btc-wallet {
	background-color: #00acc2 !important;
}

.wallets .jgn-wallet {
	background-color: #476568 !important;
}

.wallets .usd-wallet {
	background-color: #004f58 !important;
}
#schedule-card .primary-card .card-body {
	padding: 0;
}

#schedule-card table td,
#schedule-card table th {
	text-align: center;
}

#schedule-card table th {
	background-color: #00acc3;
	color: #fff;
	border-right: 1px solid #fff;
	border-radius: 0;
	padding: 12px 10px;
	border-bottom: none;
}

#schedule-card table tr > th:last-child,
#schedule-card table tr > td:last-child {
	border-right: none;
}

#schedule-card table thead {
	border-bottom: none;
}

#schedule-card table td {
	border-right: 1px solid #e5e5e5;
}

#ico-now-card span.badge.new:after {
	display: none;
}
a#buy-amount:hover {
	border: none;
	background: #f3bb45;
	color: #fff;
}

a#buy-amount {
	/* color: #00acc2; */
	/* display: block; */
	/* text-align: right; */
	font-weight: 400;
	/* float: right; */
	position: absolute;
	bottom: 0;
	margin-top: 0;
	right: -4px;
	margin-right: 4px;
	background: #ddd;
	color: #666578;
	box-shadow: none;
	border: 1px solid #ddd;
	line-height: 40px;
	border-radius: 0;
	padding-top: 0;
	padding-bottom: 0;
	border: 0;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
}
.lh32 {
	line-height: 28px;
	font-size: 12px !important;
	text-align: center;
}
.prl-none {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.progress.stats-card-progress {
	height: 28px;
	margin: 0;
}

.progress.stats-card-progress .determinate {
	background: #f3bb45;
	background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	-webkit-background-size: 40px 40px;
	background-size: 40px 40px;
	-webkit-animation: progress-bar-stripes 2s linear infinite;
	-o-animation: progress-bar-stripes 2s linear infinite;
	animation: progress-bar-stripes 2s linear infinite;
}
.side-nav ul li a,
.side-nav.fixed ul li a {
	text-transform: uppercase;
	/*font-weight: 400;*/
}

.countdown-container {
	width: 45px;
	margin-right: 8px;
	margin-left: 8px;
}
.dataTable.compact td,
.dataTable.compact th {
	padding: 8px 5px !important;
}
.dataTable.display tbody tr.active,
.dataTable.hover tbody tr.active {
	background-color: #eee !important;
}
.navbar-fixed .header-title {
	margin-left: 0 !important;
	width: 160px !important;
}

#wallets-screen .bootstrap-iso input {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	box-shadow: none;
	border-radius: 2px;
}
.side-nav .collapsible-body ul li a {
	text-transform: none;
}
input:not([type]).valid,
input:not([type]):focus.valid,
input[type='text'].valid,
input[type='text']:focus.valid,
input[type='password'].valid,
input[type='password']:focus.valid,
input[type='email'].valid,
input[type='email']:focus.valid,
input[type='url'].valid,
input[type='url']:focus.valid,
input[type='time'].valid,
input[type='time']:focus.valid,
input[type='date'].valid,
input[type='date']:focus.valid,
input[type='datetime'].valid,
input[type='datetime']:focus.valid,
input[type='datetime-local'].valid,
input[type='datetime-local']:focus.valid,
input[type='tel'].valid,
input[type='tel']:focus.valid,
input[type='number'].valid,
input[type='number']:focus.valid,
input[type='search'].valid,
input[type='search']:focus.valid,
textarea.materialize-textarea.valid,
textarea.materialize-textarea:focus.valid {
	border-bottom: 1px solid #02adc2;
	box-shadow: 0 1px 0 0 #02adc2;
}
#buyForm input {
	border: 1px solid #eee;
	padding-left: 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 2px;
	margin-bottom: 10px;
	/* height: 30px; */
}

#buyForm label:not(.active) {
	left: 1.5rem;
	/* font-size: 12px; */
	/* line-height: 30px; */
	/* top: 0; */
}

#buyForm label.active {
	left: 0.75rem;
	top: 6px;
}

.dataTables_paginate {
	padding: 15px 5px 0px 15px;
	text-align: right;
}

#buyForm input:disabled {
	background-color: #eee;
}

div#zcoin-menu .rate_detail {
	padding-right: 35px;
}
.nav-right-actions .material-icons {
	height: auto;
	display: inline-block;
	float: left;
}

/* Wallets screen */
#wallets-screen .primary-card .card-content .card-title {
	/* border-top-left-radius: 18px; */
	/* border-top-right-radius: 18px; */
}

#wallets-screen .primary-card .card-content .card-title,
.wallets-col ul.tabs .card-title {
	font-size: 16px;
	/* font-weight: 300; */
	text-transform: none;
	padding: 7px 20px;
	/* background: #f4bb44; */
}

#wallets-screen h3.wallet-sub-title {
	color: #f5bb43;
	margin: 0;
	font-size: 16px;
	/* font-weight: 300; */
	margin: 10px 0 15px;
}

#wallets-screen p.description {
	font-size: 14px;
	margin-bottom: 10px;
}

#wallets-screen .primary-card .card-body {
	padding: 0;
}

#wallets-screen .wallets-col .primary-card .card-body .row {
	padding: 10px 15px;
}

#wallets-screen .wallets-col .primary-card .card-body .row > .col {
	min-height: 150px;
	padding: 0 15px;
}

#wallets-screen .wallets-col .primary-card .card-body .row > .col:first-child {
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 10px;
}
#wallets-screen #jgn-wallet-card.primary-card .card-content {
	min-height: 630px;
}
#wallets-screen #eth-wallet-card,
#wallets-screen #btc-wallet-card,
#wallets-screen #transactions-deposit > .card,
#wallets-screen #transactions-withdraw-btc > .card,
#wallets-screen #transactions-jgn > .card {
	margin-top: 0 !important;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

#wallets-screen .wallets-col ul.tabs .card-title {
	padding: 0 0 0 20px;
	height: 100%;
	color: #fff;
	margin: 0;
	display: block;
	line-height: 38px;
	font-weight: 400;
}

#wallets-screen .wallets-col ul.tabs li.tab {
	height: 38px;
	width: 50%;
	padding: 0;
}

#wallets-screen #eth-wallet-card .card-content,
#wallets-screen #btc-wallet-card .card-content {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
#wallets-screen #jgn-wallet-card.primary-card .card-content .card-title {
	/* box-shadow: 0 2px 2px 0 rgba(0,0,0,.05), 0 3px 1px -2px rgba(0,0,0,.08), 0 1px 5px 0 rgba(0,0,0,.08); */
	position: static;
	display: block;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
}
button.btn-refresh-transactions {
	position: absolute;
	top: 0;
	right: 10px;
}
button.btn-refresh-transactions:hover,
button.btn-refresh-transactions:active,
button.btn-refresh-transactions:focus {
	color: #fff !important;
	outline: none !important;
}
.wallets-col .tabs .indicator {
	background: transparent;
}
p.text-not-allowed {
	color: #333;
	font-size: 12px;
	font-weight: 300;
	padding-top: 10px;
}
.p0 {
	padding: 0 !important;
}
span.nav-social-icon {
	position: absolute;
	margin-left: -20px;
	top: 3px;
}

span.nav-social-icon.fa.fa-users {
	color: rgb(21, 143, 249);
}

span.nav-social-icon.fa.fa-facebook-square {
	color: #4266b2;
}

span.nav-social-icon.fa.fa-telegram {
	color: #0088cc;
}

#wallets-screen .nav-tabs > li.active :after,
.nav-tabs > li.active :before {
	display: none;
}

#wallets-screen .wallets-col ul.tabs li.tab:first-child .card-title {
	border-top-left-radius: 7px;
}

#wallets-screen .wallets-col ul.tabs li.tab:last-child .card-title {
	border-top-right-radius: 7px;
}

#wallets-screen .nav-tabs > li.active > a,
#wallets-screen .nav-tabs > li.active > a:focus,
.nav-multi-tabs .nav-tabs > li.active > a,
.nav-multi-tabs .nav-tabs > li.active > a:focus {
	background-image: url(../../images/bg_tab1.png);
	background-size: 100% 100%;
	color: black;
	border: 1px solid #faad39 !important;
}
#wallets-screen .nav-tabs > li > a:hover,
.nav-multi-tabs .nav-tabs > li > a:hover {
	background-image: url(../../images/bg_tab1.png);
	background-size: 100% 100%;
}

.nav-multi-tabs .nav-tabs > li {
	padding: 0;
	width: fit-content;
}

.nav-multi-tabs .nav-tabs > li > a {
	border-radius: 0;
	margin: 0;
	background-image: url(../../images/bg_tab.png);
	background-size: 100% 100%;
	color: #000;
	border: 1px solid #faad39;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	text-align: center;
}
.nav-multi-tabs .nav-tabs > li:first-child > a {
	border-top-left-radius: 7px;
}
.nav-multi-tabs .nav-tabs > li:last-child > a {
	border-top-right-radius: 7px;
}
.nav-multi-tabs .nav-tabs > li.active :after,
.nav-multi-tabs .nav-tabs > li.active :before {
	display: none;
}
.page-title {
	font-size: 22px;
	margin: 10px 0;
}
table.dataTable thead th,
table.dataTable thead td {
	padding: 10px 10px;
}
.tab-content .card {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.table-responsive {
	width: 100%;
	overflow-x: auto;
	overflow-y: hidden;
}

.progress-bar-start-text,
.progress-bar-end-text {
	font-size: 11px;
	line-height: 28px;
	padding: 0;
}
.sponsor-alert input {
	padding-left: 10px !important;
}
.navbar .navbar-nav > li > a i {
	margin-right: 2px;
}
.sidebar .logo a.logo-mini {
	opacity: 1 !important;
}
.alert-error {
	background-color: #ff8f5e;
	color: #c84513;
}
#push-notification .modal-content {
	background: #000;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
#push-notification .modal-header .close {
	margin-top: 2px;
	margin-right: 10px;
	color: #ffc709;
	opacity: 1;
	text-shadow: none;
	font-size: 24px;
}
#push-notification ul.footer_social {
	width: 100%;
	max-width: 1140px;
	display: block;
	margin: 0 auto;
	padding: 0;
	padding-top: 5px;
	text-align: center;
	margin-top: -100px;
}

#push-notification ul.footer_social li {
	display: inline-block;
	margin: 0;
	line-height: 100% !important;
}

#push-notification ul.footer_social li a i {
	display: inline-block;
	margin: 0 8px;
	width: 56px;
	height: 56px;
	padding: 12px 8px;
	border: 1px solid #ffc709;
	border-radius: 50%;
	font-size: 30px !important;
	color: #ffc709;
	background-color: transparent;
	transition: all 0.5s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-webkit-transition: all 0.25s ease-in-out;
}

#push-notification ul.footer_social li a i:hover {
	color: #fff;
	background-color: #ffc709;
	border: 1px solid #ffc709;
	transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-webkit-transition: all 0.25s ease-in-out;
}
.btn-close-popup {
	position: absolute;
	right: 15px;
	bottom: 15px;
}
a.input-group-addon.button-copy {
	background: #f3bb45;
	border: none;
	color: #fff;
}
a.simple-text.logo-normal.back-home {
	float: right;
	margin-right: 25px;
	font-size: 16px;
}
a.simple-text.logo-normal.back-home:hover {
	color: #f3bb45 !important;
}
a.simple-text.logo-normal {
	float: left;
}
@media screen and (min-width: 768px) {
	a#jgn-btn-copy,
	a#eth-btn-copy,
	a#btc-btn-copy {
		background: none;
		box-shadow: none;
		height: 42px;
		color: #fff;
		padding: 0 10px !important;
		line-height: 42px;
		border: none;
		margin-left: -50px !important;
		margin-top: -2px !important;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
}

@media screen and (max-width: 992px) {
	.sidebar .sidebar-wrapper > .nav {
		overflow: scroll;
		height: 100%;
	}
	.sidebar .logo a.logo-mini {
		display: block;
		position: absolute;
	}
	.text-logo {
		text-align: center;
	}
	a.simple-text.logo-normal.back-home,
	a.simple-text.logo-normal {
		float: none;
		display: inline-block !important;
	}
	a.simple-text.logo-normal.back-home {
		margin-right: 25px;
		position: absolute;
		right: 0;
	}
	.sidebar {
		left: 0;
		right: auto;
		-webkit-transform: translate3d(-230px, 0, 0);
		-moz-transform: translate3d(-230px, 0, 0);
		-o-transform: translate3d(-230px, 0, 0);
		-ms-transform: translate3d(-230px, 0, 0);
		transform: translate3d(-230px, 0, 0);
	}
	.nav-open .main-panel,
	.nav-open .wrapper-full-page {
		left: 0;
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		-o-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}
@media screen and (max-width: 768px) {
	#sign-up-page .mn-inner {
		padding: 0;
	}
	#sign-up-page .container .row {
		margin-bottom: 0;
	}
	#wallets-screen .wallets-col .primary-card .card-body .row > .col {
		min-height: 120px;
		padding: 0 15px;
	}
}

@media only screen and (max-width: 600px) {
	.sidebar-profile {
		display: block;
		padding: 25px 24px;
	}

	#zcoin-sidebar {
		display: block;
	}

	nav .nav-wrapper {
		padding-right: 20px;
	}

	.mn-inner.hidden-fixed-sidebar {
		padding: 0px !important;
	}
	.mn-inner {
		padding: 0px;
	}
	#card-register .card-content {
		padding: 5px;
	}

	#card-register .card-content .card-title {
		padding: 15px 0px 0px 10px;
	}
}

@media screen and (max-width: 480px) {
	button.btn-refresh-transactions {
		padding: 2px 6px;
		top: -5px;
	}
	.button-copy {
		margin-left: 0;
	}
	input#input-copy-jgn,
	input#input-copy-eth,
	input#input-copy {
		width: 100%;
	}
	input#input-copy-jgn.input-copy-deposit,
	input#input-copy-eth.input-copy-deposit,
	input#input-copy.input-copy-deposit {
		width: 100%;
		padding: 0;
		text-align: center;
		margin-bottom: 10px;
	}
	#push-notification .modal-body {
		padding: 0;
	}
	.nav-multi-tabs .nav-tabs > li.col-xs-12 > a {
		border-top-left-radius: 7px;
		border-top-right-radius: 7px;
	}
	#push-notification ul.footer_social {
		margin-top: -50px;
		margin-bottom: 50px;
	}
	#push-notification .modal-content {
		background: #000;
	}
	.wallet-sub-title .short-title {
		display: none;
	}
}

@media only screen and (max-width: 360px) and (min-width: 240px) {
	.content_deposit {
		padding: 10px !important;
	}

	.countdown-container .countdown-value {
		font-size: 30px;
	}
}

@media screen and (max-width: 320px) {
	.signin-page .card-content {
		padding: 10px;
	}
	#card-register .card-title {
		margin-bottom: 0;
	}
	#card-register input {
		margin-bottom: 5px;
	}
	.navbar-fixed .header-title {
		width: auto !important;
	}
	nav .nav-wrapper {
		padding-right: 0;
	}
	#wallets-screen .tabs .tab a {
		font-size: 12px;
	}
	.countdown-container .countdown-value {
		font-size: 20px;
	}
}

.alert-text-white {
	color: white;
}
