<div class="wrapper">
    <app-sidebar></app-sidebar>
    <div class="main-panel ps-theme-default ps-active-y" data-ps-id="d230faa5-5343-f81e-fbf7-5f8bea02025e">
        <app-header></app-header>
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="card">
                            <div class="card-content">
                                <div class="card-header">
                                    <h4 class="page-title">How to buy EbbiCoins?</h4>
                                </div>
                                <p>We only accept Ethereum (ETH) in exchange for EbbiCoin. 
                                Please follow these steps to buy EbbiCoin:</p>
                                <br>
                                <p><b>Step 1</b> : Go to <a [routerLink]="['/dashboard']" [routerLinkActive]="['active']">Buy ICO Coin</a> page and click the Get EbbiCoin Now Button</p>
                                <img src="/assets/images/get-ebbicoin-now.png" style="margin-top:10px;" width="600"> 
                                <br><br>
                                <p><b>Step 2</b> : Calculate How Much EbbiCoin Do You Want</p>
                                <p class="category">Use the EbbiCoin exchange rate calculator to see how much Ethereum you need to get your EbbiCoins</p>
                                <img src="/assets/images/how-much-ebbi.png" style="margin-top:10px;" width="600"> 
                                <br><br>
                                <p><b>Step 3</b> : Send Ethereum to provided Wallet Address</p>
                                <p class="category">Use the copy button or the QR code in order to copy the wallet address that you need to send Ethereum to.<br>Be sure to send the proper amount of Ethereum shown in the Exchange calculator</p>
                                <img src="/assets/images/copy-ebbi-address-button.png" style="margin-top:10px;" width="600"> 
                                <br><br>
                                <p><b>Step 4</b> : Click The Update Button To Refresh EbbiCoin Balance</p>
                                <img src="/assets/images/click-update-ebbicoin.png" style="margin-top:10px;" width="600"> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>