<div class="wrapper">
    <app-sidebar></app-sidebar>
    <div class="main-panel ps-theme-default ps-active-y" data-ps-id="d230faa5-5343-f81e-fbf7-5f8bea02025e">
        <app-header></app-header>
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        
                    </div>
                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>