<div class="wrapper">
        <admin-sidebar></admin-sidebar>
        <div class="main-panel ps-theme-default ps-active-y" data-ps-id="d230faa5-5343-f81e-fbf7-5f8bea02025e">
            <admin-header></admin-header>
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-md-offset-3">
                            <div class="card">
                                <div class="card-content">
                                    <div class="card-header">
                                        <h4 class="card-title">Change Password</h4>
                                    </div>
                                    <div class="card-body">
                                        <form #password="ngForm" (ngSubmit)="passwordSubmit(password.value)" [formGroup]="passwordForm">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <span [innerHTML]="this.responseText"></span>
                                                    <div class="form-group">
                                                        <input type="password" class="form-control" placeholder="Password" formControlName="password">
                                                        <app-field-error-display [displayError]="isFieldValid('password', passwordForm)" errorMsg="Please enter password"></app-field-error-display>
                                                    </div>
                                                    <div class="form-group">
                                                        <input type="password" class="form-control" placeholder="Confirm Passsword" formControlName="password_conf">
                                                        <app-field-error-display [displayError]="isFieldValid('password_conf', passwordForm)" errorMsg="Please enter valid password"></app-field-error-display>
                                                    </div>
                                                    <div class="form-group">
                                                        <input type="submit" class="btn btn-warning btn-block">
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <admin-footer></admin-footer>
        </div>
    </div>